#general
.vscode/
*.code-workspace

#meson
build/
install/

#dub
.dub/
dub.selections.json
#dub targets
*.a
*.lib
*.exe
client/dop
lib/dopamine-lib-test-lua53-static
lib/dopamine-lib-test-unittest
lib/doptest
